<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
 xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <description>An open source software financed by the French Ministry of Ecology, Energy and Sustainable
development (MEEDDM). Its main purpose is to enter and exchange data, describing the theoretical
timetables of public transport networks, in accordance with a standard exchange profile.</description>
 <display-name>chouette</display-name>
 <context-param>
  <param-name>chouetteConfigRootPath</param-name>
  <param-value>//etc/chouette</param-value>
 </context-param>
 <context-param>
  <param-name>chouetteLinuxConfigRootPath</param-name>
  <param-value>//etc/chouette</param-value>
 </context-param>
 <!-- encodage utf-8 -->
 <context-param>
  <param-name>chouetteWindowsConfigRootPath</param-name>
  <param-value>C:\\chouette</param-value>
 </context-param>
 <!--context-param> <param-name>chouetteConfig</param-name> <param-value>//home/zbouziane/ChouetteWorkspace/chouette/chouette-attic/src/main/filters/filterTUR.properties</param-value> 
		</context-param -->
 <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>classpath*:chouetteContext.xml</param-value>
 </context-param>
 <!-- <context-param> <param-name>contextConfigLocation</param-name> <param-value>classpath*:chouetteContext.xml</param-value> 
		</context-param> encodage utf-8  
 To solve the Hibernate Lazy Initialisation Exception -->
 <filter>
  <filter-name>OpenSessionInViewFilter</filter-name>
  <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
 </filter>
 <filter>
  <filter-name>Spring character encoding filter</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>UTF-8</param-value>
  </init-param>
  <init-param>
   <param-name>forceEncoding</param-name>
   <param-value>true</param-value>
  </init-param>
 </filter>
 <filter>
  <filter-name>struts-prepare</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareFilter</filter-class>
 </filter>
 <filter>
  <filter-name>struts-execute</filter-name>
  <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsExecuteFilter</filter-class>
 </filter>
 <filter>
  <filter-name>sitemesh</filter-name>
  <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>Spring character encoding filter</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
		<filter-name>OpenSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 <filter-mapping>
  <filter-name>struts-prepare</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>sitemesh</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <filter-mapping>
  <filter-name>struts-execute</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
 </listener>
 <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
 </welcome-file-list>
 <error-page>
  <error-code>403</error-code>
  <location>/jsp/Login/error_login.jsp</location>
 </error-page>
 <jsp-config>
  <jsp-property-group>
   <description>Toutes les pages</description>
   <url-pattern>*.jsp</url-pattern>
   <page-encoding>UTF-8</page-encoding>
  </jsp-property-group>
 </jsp-config>
 <!-- <listener> <listener-class>org.apache.struts2.dispatcher.ng.listener.StrutsListener</listener-class> 
		</listener> Welcome file lists Liste des pages non protégées -->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>The Entire Web Application</web-resource-name>
   <url-pattern>/images/*</url-pattern>
   <url-pattern>/css/*</url-pattern>
   <url-pattern>/js/*</url-pattern>
   <url-pattern>/neptune-validation/*</url-pattern>
  </web-resource-collection>
 </security-constraint>
 <!-- Liste des pages protégées -->
 <security-constraint>
  <web-resource-collection>
   <web-resource-name>The Entire Web Application</web-resource-name>
   <url-pattern>/*</url-pattern>
  </web-resource-collection>
  <!-- Rôles des utilisateurs ayant le droit d'y accéder -->
  <auth-constraint>
   <role-name>chouette-role</role-name>
  </auth-constraint>
 </security-constraint>
 <login-config>
  <!-- Type d'authentification -->
  <auth-method>FORM</auth-method>
  <realm-name>Espace membres</realm-name>
  <form-login-config>
   <form-login-page>/jsp/Login/login.jsp</form-login-page>
   <form-error-page>/jsp/Login/error_login.jsp</form-error-page>
  </form-login-config>
 </login-config>
 <!-- Rôles utilisés dans l'application -->
 <security-role>
  <description>Utilisateurs de l'application</description>
  <role-name>chouette-role</role-name>
 </security-role>
</web-app>
