<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory"  verbose="5" >

 <test name="SpringBeans" enabled="false">
      <classes>
          <class name="unit.BeanTest"/>
      </classes>
  </test>
  <!-- 
  <test name="Unitaires">
    <classes>
      <class name="unit.DBServiceTestCase"/>
      <class name="unit.ImportCSV"/>
      <class name="unit.MissionTest"/>
      <class name="unit.ServicesZone"/>
      <class name="unit.TestImportateur"/>
      <class name="unit.TemplateDaoTestCase"/>
      <class name="unit.HoraireDepartTest"/>
      <class name="unit.Export"/>
      <class name="unit.ITLTest"/>
      <class name="unit.ExportMissionITL"/> 
    </classes>
  </test>
  -->
  <test name="Validation" enabled="false">
    <classes>
      <class name="unit.TestValidation"/>
      </classes>
  </test>

  <test name="Integration">
    <classes>
      <class name="integration.ImportExportTest"/>
      </classes>
  </test>
  
  <test name="ImportCSV">
  	<classes>
  		<class name="unit.ImportExcelTest"/>
  	</classes>
  </test>
  <!-- 
  <test name="ImportXML">
  	<classes>
  		<class name="unit.ImportXML"/>
  	</classes>
  </test>
  -->
</suite>