<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
  <Document>
#if( $data.name)
    <name>$data.name</name>
#end
#if ( ! $data.extraData.isEmpty() )
        <ExtendedData>
#foreach( $key in $data.extraData.keyList() )
          <Data name="$key">
            <value>$data.extraData.get($key)</value>
          </Data>
#end
        </ExtendedData>
#end
#foreach( $item in $data.items )
      <Placemark id="$item.id" >
#foreach ( $key in $item.attributes.keyList() )
        <$key>$item.attributes.get($key)</$key>
#end
#if ( ! $item.extraData.isEmpty() )
        <ExtendedData>
#foreach( $key in $item.extraData.keyList() )
          <Data name="$key">
            <value>$item.extraData.get($key)</value>
          </Data>
#end
        </ExtendedData>
#end
#if( $item.point)
        <Point>
           <coordinates>$item.point.longitude,$item.point.latitude</coordinates>
        </Point>
#end
#if( $item.lineString)
        <LineString>
           <coordinates>
#foreach( $point in $item.lineString )
             $point.longitude,$point.latitude
#end
           </coordinates>
</LineString>
#end
      </Placemark>
#end
  </Document>
</kml>
