<!--   -->
<!-- Calendars : NeTEx Day Types and Day Type Assignment mapped to NEPTUNE timetable -->
<!-- Each NEPTUNE timetable is mapped to a separate ServiceCalendarFrame  -->
#set($counter = 0)
#foreach( $timetable in $timetables )
<ServiceCalendarFrame version="any" id="${timetable.objectIdPrefix()}:ServiceCalendarFrame:SFC$counter">
  <ServiceCalendar version="any" id="${timetable.objectIdPrefix()}:ServiceCalendar:SFC$counter"><!-- ObjectId?? -->
    <FromDate>$timetable.startOfPeriod</FromDate>
    <ToDate>$timetable.endOfPeriod</ToDate>
  </ServiceCalendar>
  <!--- === Day Types ==== -->
  <dayTypes>
    <DayType version="$timetable.objectVersion" id="$modelTranslator.netexId( $timetable)">
      <Name>$timetable.comment</Name>
      <ShortName>$timetable.comment</ShortName>
      <properties>
        #foreach( $dayType in $timetable.getDayTypes() )
        <PropertyOfDay>
          <DaysOfWeek>$dayType</DaysOfWeek>
        </PropertyOfDay>
        #end
      </properties>
    </DayType>
  </dayTypes>
  <!--- === Day assignments ==== -->
  <operatingDays>
    #foreach( $day in $timetable.calendarDays )
    <OperatingDay version="any" id="${timetable.objectIdPrefix()}:OperatingDay:${timetable.objectIdSuffix()}D${date.format($shortDateFormat, $day)}">
      <CalendarDate>$date.format($shortDateFormat, $day)</CalendarDate>
    </OperatingDay>
    #end		
  </operatingDays>  
  <!--- === Period assignments ==== -->
  <operatingPeriods>
    #foreach( $period in $timetable.periods )
    <OperatingPeriod version="any" id="${timetable.objectIdPrefix()}:OperatingPeriod:${timetable.objectIdSuffix()}S${date.format($shortDateFormat, $period.startDate)}E${date.format($shortDateFormat, $period.endDate)}">
      <FromDate>$date.format($shortDateFormat, $period.startDate)</FromDate>
      <ToDate>$date.format($shortDateFormat, $period.endDate)</ToDate>
    </OperatingPeriod>
    #end		
  </operatingPeriods>  
  <!--- === Day Type assignments ==== -->
  <dayTypeAssignments>
    #foreach( $period in $timetable.periods )
    <DayTypeAssignment version="any">
      <OperatingPeriodRef ref="${timetable.objectIdPrefix()}:OperatingPeriod:${timetable.objectIdSuffix()}S${date.format($shortDateFormat, $period.startDate)}E${date.format($shortDateFormat, $period.endDate)}"/>
      <DayTypeRef version="$timetable.objectVersion" ref="${timetable.objectIdPrefix()}:DayType:${timetable.objectIdSuffix()}"/>
    </DayTypeAssignment>
    #end		
    #foreach( $day in $timetable.calendarDays )
    <DayTypeAssignment version="any">
      <OperatingDayRef ref="${timetable.objectIdPrefix()}:OperatingDay:${timetable.objectIdSuffix()}D${date.format($shortDateFormat, $day)}"/>
      <DayTypeRef version="$timetable.objectVersion" ref="${timetable.objectIdPrefix()}:DayType:${timetable.objectIdSuffix()}"/>
    </DayTypeAssignment>
    #end
  </dayTypeAssignments>  
</ServiceCalendarFrame>
#set($counter = $counter + 1)
#end
