<!-- ServiceFrame to map the PTNetwork  NEPTUNE Object -->
<ServiceFrame version="any">
  <!-- NEPTUNE PTNetwork Mappling =========================================== -->
  <Network version="$network.objectVersion" id="$network.objectId"> <!-- >TODO : changed="$dateFormat.format( $network.versionDate )" -->											
    <Name>$network.name</Name>
    <Description>$network.description</Description>
    <PrivateCode>$network.registrationNumber</PrivateCode>
  </Network>
  <!-- NEPTUNE Route Mapping (part 1 : directions ) =========================================== -->
  <directions>
    #foreach( $route in $line.routes )   
    <Direction version="any" id="$route.objectId:Direction">
      <Name>$route.publishedName</Name>
      #if ($route.wayBack == "A")
      <DirectionType>outbound</DirectionType>
      #elseif( $route.wayBack == "R" )
      <DirectionType>inbound</DirectionType>
      #end
    </Direction>
    #end                  
  </directions>
  <!-- NEPTUNE StopPoint (RoutePoint)  mapping=========================================== -->
  <routePoints>
    #foreach( $route in $line.routes ) 
      #foreach( $stopPoint in $route.stopPoints )
    <RoutePoint version="$stopPoint.objectVersion" id="$stopPoint.objectId">
      <Name>$stopPoint.name</Name><!-- TODO : NEPTUNE [mapping:variable] : RoutePoint->Name mapped to NEPTUNE StopPoint->publishedName  -->
      <Location>
        <Longitude>$stopPoint.longitude</Longitude>
        <Latitude>$stopPoint.latitude</Latitude>
      </Location>
      <projections>
        <PointProjection version="any" id="$stopPoint.objectId"><!-- TODO : Vérifier sur quoi pointe l'id avec Christophe-->
          <ProjectedPointRef version="$stopPoint.containedInStopArea.objectVersion" ref="$stopPoint.containedInStopArea.objectId"/>
        </PointProjection>
      </projections>
    </RoutePoint>
      #end
    #end
  </routePoints>
  <!-- NEPTUNE Route Mapping (part 2 : routes ) =========================================== -->
  <routes>
    #foreach( $route in $line.routes )   
    <Route version="$route.objectVersion" id="$route.objectId">
      <Name>$route.name</Name>
      <DirectionRef version="any" ref="$route.objectId:Direction"/>
      <pointsInSequence>                               
        #foreach( $stopPoint in $route.stopPoints )
        #set ( $pointOnRouteId = $route.objectId + '-' + $stopPoint.position )
        <PointOnRoute version="any" id="$pointOnRouteId" order="$stopPoint.position">
          <RoutePointRef version="$route.objectVersion" ref="$route.objectId"/>
        </PointOnRoute>
        #end
      </pointsInSequence>
    </Route>
    #end
  </routes>
  <!-- NEPTUNE Line Mapping =========================================== -->
  <lines>
    <Line version="$line.objectVersion" id="$line.objectId">      
      <Name>$line.name</Name>
      <TransportMode>$line.transportModeName</TransportMode>
      <PublicCode>$line.registrationNumber</PublicCode>
      <routes>
        #foreach( $route in $line.routes )
        <RouteRef version="$route.objectVersion" ref="$route.objectId"/>
        #end
      </routes>
    </Line>
  </lines>
  !--   -->
  <!-- NEPTUNE Stop Area with "Quay" or "BoardingPosition" type  =========================================== -->
  <scheduledStopPoints>
    #foreach( $route in $line.routes )
      #foreach( $stopPoint in $route.stopPoints )
    <ScheduledStopPoint version="$stopPoint.objectVersion" id="RATP_PIVI:StopPoint:5246069"><!-- TODO : Probleme objectId  -->
      <Name>$stopPoint.name</Name>
      <TimingPointStatus>timingPoint</TimingPointStatus>
    </ScheduledStopPoint>
      #end
    #end
  </scheduledStopPoints>
  <!--   -->
  <!--  SERVICE PATTERN : Service Links are not mapped (they are not mandatory in NeTeEx), the sequence of Scheduled Stop Point is used instead -->
  <servicePatterns>
    <!-- NEPTUNE [mapping:variable] : ServicePattern.version mapped to NEPTUNE JourneyPattern->ObjectVersion -->
    #foreach( $route in $line.routes )
      #foreach( $journeyPattern in $route.journeyPatterns )      
    <ServicePattern version="$journeyPattern.objectVersion" id="$journeyPattern.objectId">
      <Name>$journeyPattern.name</Name>
      <!-- NEPTUNE [mapping:variable] : ServicePattern->RouteRef mapped to NEPTUNE JourneyPattern->routeId -->
      <RouteRef version="1" ref="$journeyPattern.routeId"/>
      <pointsInSequence>
        #foreach( $stopPoint in $journeyPattern.stopPoints ) 
        <StopPointInJourneyPattern version="1" id="$journeyPattern.routeId">
          <ScheduledStopPointRef version="$stopPoint.objectVersion" ref="$stopPoint.objectId"/>
        </StopPointInJourneyPattern>
        #end       
      </pointsInSequence>
    </ServicePattern>
      #end    
    #end
  </servicePatterns>
  <!--   -->
  <!-- Tarif zone  : Not really available in NEPTUNE, but there is a need to map Tariff Zone 1 (which is an attribute in NEPTUNE -->
  <!-- This object needs to be created inside the mapping mechanism -->
  <tariffZones>
    <TariffZone version="any" id="RATP_PIVI:TariffZone:1">
      <Name>Zone 1</Name>
      <members>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317452A0A5246063"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317452A1A5246062"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317452A2A5246067"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317452A3A5246068"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317452A4A5246069"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317452A5A5246066"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317452A6A5246065"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317453A0A5246074"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317453A1A5246073"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317453A2A5246070"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317453A3A5246071"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317453A4A5246072"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317453A5A5246064"/>
        <RoutePointRef version="1" ref="RATP_PIVI:RoutePoint:317453A6A5246075"/>
      </members>
    </TariffZone>
  </tariffZones>
  <!--   -->
  <!-- Assignments of Schedules Stop Points to Stop Places -->
  <stopAssignments>
  #foreach( $route in $line.routes )       
    #foreach( $stopPoint in $route.stopPoints )     
    <PassengerStopAssignment version="any" id="RATP_PIVI:PassengerStopAssignment:TODO"><!-- TODO : Construction de l'id de la nouvelle table -->
      <ScheduledStopPointRef version="1" ref="$stopPoint.objectId"/>
      #if ($stopPoint.containedInStopArea) 
      <StopPlaceRef version="1" ref="$stopPoint.containedInStopArea.parent"/>
      #end 
      <QuayRef version="1" ref="$stopPoint.containedInStopAreaId"/>
    </PassengerStopAssignment>    
    #end
  #end  
  </stopAssignments>
</ServiceFrame>
