<!--   -->
<!-- Calendars : NeTEx Day Types and Day Type Assignment mapped to NEPTUNE Timetable -->
<!-- Each NEPTUNE Timetable is mapped to a separate ServiceCalendarFrame  -->
#foreach( $timeTable in $timeTables )
<ServiceCalendarFrame version="any" id="$timeTable.objectIdPrefix:ServiceCalendarFrame:$timeTable.objectIdSuffix">
  <ServiceCalendar version="any" id="$timeTable.objectIdPrefix:ServiceCalendar:$timeTable.objectIdSuffix"><!-- ObjectId?? -->
    <FromDate>$timeTable.startOfPeriod</FromDate>
    <ToDate>$timeTable.endOfPeriod</ToDate>
  </ServiceCalendar>
  <!--- === Day Types ==== -->
  <dayTypes>
    <DayType version="$timeTable.objectVersion" id="$timeTable.objectIdPrefix:DayType:$timeTable.objectIdSuffix">
      <Name>$timeTable.name</Name>
      <ShortName>$timeTable.comment</ShortName>
      <properties>
        #foreach( $dayType in $timeTable.getDayTypes() )
        <PropertyOfDay>
          <DaysOfWeek>$dayType</DaysOfWeek>
        <PropertyOfDay>
        #end
      </properties>
    </DayType>
  </dayTypes>
  <!--- === Period assignments ==== -->
  <operatingPeriods>
    #foreach( $period in $timeTable.periods )
    <OperatingPeriod version="any" id="$period.objectIdPrefix:OperatingPeriod:$period.objectIdSuffix">
      <FromDate>$period.startDate.toString()</FromDate>
      <ToDate>$period.endDate.toString()</ToDate>
    </OperatingPeriod>
    #end		
  </operatingPeriods>  
  <!--- === Day assignments ==== -->
  <operatingDays>
    #foreach( $day in $timeTable.days )
    <OperatingDay version="any">
      <CalendarDate>$day.toString()</CalendarDate>
    </OperatingDay>
    #end		
  </operatingDays>  
  <!--- === Day Type assignments ==== -->
  <dayTypeAssignments>
    #foreach( $period in $timeTable.periods )
    <DayTypeAssignment version="any">
      <OperatingPeriodRef version="$timeTable.objectVersion" ref="$period.objectIdPrefix:OperatingPeriod:$period.objectIdSuffix"/>
      <DayTypeRef version="$timeTable.objectVersion" ref="$timeTable.objectIdPrefix:DayType:$timeTable.objectIdSuffix"/>
    </DayTypeAssignment>
    #end		
  </dayTypeAssignments>  
</ServiceCalendarFrame>
#end
