<!-- =========================================== -->
<!-- NEPTUNE StopPlaces (StopArea of type StopPlace) are mapped to NeTEx StopPlace -->
<SiteFrame version="any" id="${line.objectIdPrefix()}:SiteFrame:SF01"> 
  <topographicStopPlaces>
    #foreach( $stopPlace in $stopPlaces ) 
    <TopographicStopPlace version="$stopPlace.objectVersion" id="${stopPlace.objectIdPrefix()}:stopPlace:${stopPlace.objectIdSuffix()}">
    </TopographicStopPlace>
    #end
  </topographicStopPlaces> 
  <stopPlaces>
    #foreach( $commercialStopPoint in $commercialStopPoints )
    <StopPlace version="$stopPlace.objectVersion" id="${stopPlace.objectIdPrefix()}:stopPlace:${stopPlace.objectIdSuffix()}">
      <TopographicPlaceView>
        <Name>$stopPlace.name</Name>
      </TopographicPlaceView>
      <tariffZones>
        <TariffZoneRef version="any" ref="${stopPlace.objectIdPrefix()}:TariffZone:${stopPlace.fareCode}"/>
      </tariffZones>
      <quays>
        #foreach( $quay in $stopPlace.containedStopAreas )
        <Quay version="$quay.objectVersion" id="${quay.objectIdPrefix()}:Quay:${quay.objectIdSuffix()}">
          #set( $areaCentroid = $quay.areaCentroid )
          #if($areaCentroid)
          <Centroid>
            <Location id="$quay.areaCentroid.objectId">
              <Longitude>$areaCentroid.longitude</Longitude>
              <Latitude>$areaCentroid.latitude</Latitude>
              <gml:pos srsName="$quay.areaCentroid.longLatType">
                $areaCentroid.projectedPoint.y $areaCentroid.projectedPoint.x 
              </gml:pos>
            </Location>
          </Centroid>
          #set( $adress = $areaCentroid.adress )
          #if($adress)
          <PostalAddress version="any" id="${adress.objectIdPrefix()}:PostalAddress:${adress.objectIdSuffix()}">
            <CountryRef ref="fr"/><!-- TODO : Why ref?? -->
            <AddressLine1>$adress.streetName</AddressLine1>
            <PostCode>$adress.countryCode</PostCode>
          </PostalAddress>
          #end
          <TransportMode>metro</TransportMode><!-- TODO : Where network? -->
          <tariffZones>
            <TariffZoneRef version="any" ref="${quay.objectIdPrefix()}:TariffZone:${quay.fareCode}"/>
          </tariffZones>
          <Label>Botzaris</Label><!-- TODO : Where? -->
          <QuayType>metroPlatform</QuayType><!-- TODO : Where? -->
          #end
        </Quay>	
        #end	
      </quays>
    </StopPlace>
    #end				
  </stopPlaces>
</SiteFrame>
