<!-- =========================================== -->
<!-- NEPTUNE StopPlaces (StopArea of type StopPlace) are mapped to NeTEx StopPlace -->
<SiteFrame version="any" id="${line.objectIdPrefix()}:SiteFrame:SF01"> 
  <topographicPlaces>
    #foreach( $stopPlace in $stopPlaces ) 
    <TopographicPlace version="$stopPlace.objectVersion" id="${stopPlace.objectIdPrefix()}:TopographicPlace:${stopPlace.objectIdSuffix()}">
      <Descriptor>
        <Name>$stopPlace.name</Name>
      </Descriptor>
      #if($stopPlace.parent)
      <ParentZoneRef version="$stopPlace.parent.objectVersion" ref="${stopPlace.parent.objectIdPrefix()}:TopographicPlace:${stopPlace.parent.objectIdSuffix()}"/>
      #end
    </TopographicPlace>
    #end
  </topographicPlaces> 
  <stopPlaces>
    #foreach( $commercialStopPoint in $commercialStopPoints )
    <StopPlace version="$commercialStopPoint.objectVersion" id="${commercialStopPoint.objectIdPrefix()}:StopPlace:${commercialStopPoint.objectIdSuffix()}">
      #if($commercialStopPoint.parent)
      <ContainedInPlaceRef version="$commercialStopPoint.parent.objectVersion" ref="${commercialStopPoint.parent.objectIdPrefix()}:TopographicPlace:${commercialStopPoint.parent.objectIdSuffix()}"/>
      #end
      <TopographicPlaceView>
        <Name>$commercialStopPoint.name</Name>
      </TopographicPlaceView>
      <tariffZones>
        <TariffZoneRef version="any" ref="${commercialStopPoint.objectIdPrefix()}:TariffZone:${commercialStopPoint.fareCode}"/>
      </tariffZones>
      <quays>
        #foreach( $quay in $commercialStopPoint.containedStopAreas )
        <Quay version="$quay.objectVersion" id="${quay.objectIdPrefix()}:Quay:${quay.objectIdSuffix()}">
          #set( $areaCentroid = $quay.areaCentroid )
          #if($areaCentroid)
          <Centroid>
            <Location id="${quay.areaCentroid.objectIdPrefix()}:Location:${quay.areaCentroid.objectIdSuffix()}">
              <Longitude>$areaCentroid.longitude</Longitude>
              <Latitude>$areaCentroid.latitude</Latitude>
              <gml:pos srsName="$quay.areaCentroid.longLatType">
                $areaCentroid.projectedPoint.y $areaCentroid.projectedPoint.x 
              </gml:pos>
            </Location>
          </Centroid>
          #set( $adress = $areaCentroid.adress )
          #if($adress)
          <PostalAddress version="any" id="${adress.objectIdPrefix()}:PostalAddress:${adress.objectIdSuffix()}">
            <CountryRef ref="fr"/>
            <AddressLine1>$adress.streetName</AddressLine1>
            <PostCode>$adress.countryCode</PostCode>
          </PostalAddress>
          #end
          <tariffZones>
            <TariffZoneRef version="any" ref="${quay.objectIdPrefix()}:TariffZone:${quay.fareCode}"/>
          </tariffZones>
          #end
        </Quay>	
        #end	
      </quays>
    </StopPlace>
    #end				
  </stopPlaces>
</SiteFrame>
