<!-- =========================================== -->
<TimetableFrame version="any" id="${line.objectIdPrefix()}:TimetableFrame:TF02"> 
  <vehicleJourneys>
    #foreach( $vehicleJourney in $vehicleJourneys )
    <ServiceJourney version="$vehicleJourney.objectVersion" id="${vehicleJourney.objectIdPrefix()}:VehicleJourney:${vehicleJourney.objectIdSuffix()}">
      <Name>$vehicleJourney.number</Name>
      <dayTypes>
        #foreach( $timetable in $vehicleJourney.timetables )  
        <DayTypeRef version="$timetable.objectVersion" ref="${timetable.objectIdPrefix()}:DayType:${timetable.objectIdSuffix()}"/>
        #end 
      </dayTypes>
      #if($vehicleJourney.route) 
      <RouteRef version="$vehicleJourney.route.objectVersion" ref="${vehicleJourney.route.objectIdPrefix()}:Route:${vehicleJourney.route.objectIdSuffix()}"/>
      #end
      #if($vehicleJourney.journeyPattern) 
      <ServicePatternRef ref="${vehicleJourney.journeyPattern.objectIdPrefix()}:ServicePattern:${vehicleJourney.journeyPattern.objectIdSuffix()}">EXTERNAL</ServicePatternRef>
      #end
      <calls>
        #foreach( $vehicleJourneyAtStop in $vehicleJourney.vehicleJourneyAtStops ) 
        <Call>
          <ScheduledStopPointRef version="$vehicleJourneyAtStop.stopPoint.objectVersion" ref="${vehicleJourneyAtStop.stopPoint.objectIdPrefix()}:StopPoint:${vehicleJourneyAtStop.stopPoint.objectIdSuffix()}"/>
          <Arrival>
            <Time>$vehicleJourneyAtStop.departureTime</Time>
          </Arrival>
          <Departure>
            <Time>$vehicleJourneyAtStop.departureTime</Time>
          </Departure>
        </Call>				
        #end
      </calls>
    </ServiceJourney>
    #end
  </vehicleJourneys>
</TimetableFrame>
