<!-- =========================================== -->
<TimetableFrame version="any" id="RATP_PIVI:TimetableFrame:TF02"> <!-- TODO : Id?? -->
  <vehicleJourneys>
    #foreach( $vehicleJourney in $vehicleJourneys )
    <ServiceJourney version="$vehicleJourney.objectVersion" id="$vehicleJourney.objectId">
      <Name>$vehicleJourney.number</Name>
      <!-- NEPTUNE [mapping:variable] : ServiceJourney->dayTypes->DayTypeRef processed from to NEPTUNE Timetable (containing references to there affiliated VehicleJourney, the relation behing in the opposite way of the one used in NeTEx) -->
      <dayTypes>
        <DayTypeRef version="1" ref="RATP_PIVI:DayType:385159"/>
      </dayTypes>
      <RouteRef version="$vehicleJourney.route.objectVersion" ref="$vehicleJourney.route.objectId"/>
      <ServiceJourneyPatternRef ref="$vehicleJourney.journeyPatternId">EXTERNAL</ServiceJourneyPatternRef>
      <!-- NEPTUNE [mapping:variable] : ServiceJourney->calls->Call mapped to NEPTUNE VehicleJourney->vehicleJourneyAtStop -->      
      <calls>
        #foreach( $vehicleJourneyAtStop in $vehicleJourney.vehicleJourneyAtStops ) 
        <Call>
          <ScheduledStopPointRef version="$vehicleJourneyAtStop.stopPoint.objectVersion" ref="$vehicleJourneyAtStop.stopPointId"/>
          <Arrival>
            <Time>$vehicleJourneyAtStop.departureTime</Time>
          </Arrival>
          <Departure>
            <Time>$vehicleJourneyAtStop.departureTime</Time>
          </Departure>
        </Call>				
        #end
      </calls>
    </ServiceJourney>
    #end
  </vehicleJourneys>
</TimetableFrame>
