<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>mobi.chouette.api</servlet-name>
		<servlet-class>mobi.chouette.api.Application</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mobi.chouette.api</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>mobi.chouette.api.Application</listener-class>
	</listener>
</web-app>