<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Command" verbose="1" >
	<test name="Help"  preserve-order="true">
		<parameter name="name" value="help"/>
		<classes>
			<class name= "fr.certu.chouette.command.CommandTest" />
		</classes>
	</test>
	<test name="Create_Line"  preserve-order="true">
		<parameter name="name" value="create_line"/>
		<classes>
			<class name= "fr.certu.chouette.command.CommandTest" />
		</classes>
	</test>
</suite>