<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="5" >
  <test name="NeptuneReader" >
  <parameter name="neptuneFileUtf8"  value="C_NEPTUNE_1_utf8.xml"/>
  <parameter name="neptuneBrokenFile"  value="broken_file.xml"/>
  <parameter name="neptuneErrorFile"  value="error_file.xml"/>
  <parameter name="neptuneNoXmlFile"  value="no_xml.xml"/>
  <parameter name="neptuneFileBadEnc"  value="C_NEPTUNE_1_bad_enc.xml"/>
  <classes>
  	<class name="fr.certu.chouette.neptune.JaxbNeptuneFileReaderTests" />
  </classes>		
  </test>
  
</suite>