<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="1" >
  <test name="Manager" >
    <packages>
      <package name="fr.certu.chouette.manager" >
      </package>
   </packages>
  </test>
  <test name="Model" >
    <packages>
      <package name="fr.certu.chouette.model" >
      </package>
   </packages>
  </test>
  <test name="Plugin" >
    <packages>
      <package name="fr.certu.chouette.plugin.exchange.tools" >
      </package>
   </packages>
  </test>
</suite>