<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="5" >
  <test name="ExchangeNeptune" >
  <parameter name="neptuneFile"  value="C_NEPTUNE_1.xml"/>
  <parameter name="neptuneFileUtf8"  value="C_NEPTUNE_1_utf8.xml"/>
  <parameter name="neptuneFileUtf8Bom"  value="C_NEPTUNE_1_utf8_bom.xml"/>
  <parameter name="neptuneFileBadEnc"  value="C_NEPTUNE_1_bad_enc.xml"/>
  <parameter name="neptuneRCFile"  value="C_CHOUETTE_52.xml"/>
  <parameter name="neptuneZip"  value="lignes_neptune.zip"/>
  <parameter name="neptuneZipErr"  value="lignes_neptune_err.zip"/>
    <!-- <packages>
      <package name="fr.certu.chouette.exchange.xml.neptune" >
      </package>
    </packages> -->
      <classes>
      <class name="fr.certu.chouette.exchange.xml.neptune.NeptuneImportTests">
	<methods>
        <include name="verifyImportZipLinesErr"/>
      </methods>
      </class>
      </classes>
  </test>
  
</suite>