<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Validation Phase 3" verbose="1" >
   <test name="Test_A_ok" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationNominal" />
      </classes>
   </test>  
   <test name="Test_B_lines" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationLines" />
      </classes>
   </test>   
   <test name="Test_C_routes" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationRoutes" />
      </classes>
   </test> 
   <test name="Test_D_journey_patterns" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationJourneyPatterns" />
      </classes>
   </test>
   <test name="Test_E_vehicle_journeys" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationVehicleJourneys" />
      </classes>
   </test> 
   <test name="Test_F_stop_areas" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationStopAreas" />
      </classes>
   </test>
  <test name="Test_G_connection_links" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationConnectionLinks" />
      </classes>
   </test>
    <test name="Test_H_access_points" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationAccessPoints" />
      </classes>
   </test>
   <test name="Test_I_access_links" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationAccessLinks" />
      </classes>
   </test>
   <test name="Test_J_Networks" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationNetworks" />
      </classes>
   </test>
   <test name="Test_K_Companies" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationCompanies" />
      </classes>
   </test>
   <test name="Test_L_GroupOfLines" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationGroupOfLines" />
      </classes>
   </test>
   <test name="Test_M_Timetables" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.validation.checkpoint.ValidationTimetables" />
      </classes>
  </test>
  <test name="Test_N_Routes" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.importer.updater.ValidationRoutesUpdater" />
      </classes>
  </test>
  <test name="Test_O_Lines" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.importer.updater.ValidationLinesUpdater" />
      </classes>
  </test> 
  <test name="Test_P_JourneyPatterns" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.importer.updater.ValidationJourneyPatternsUpdater" />
      </classes>
  </test> 
  <test name="Test_Q_VehicleJourneys" preserve-order="true">
      <classes>
         <class name="mobi.chouette.exchange.importer.updater.ValidationVehicleJourneysUpdater" />
      </classes>
  </test> 
</suite> 
