<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="1" >
	<test name="InitDao" preserve-order="true">
		<packages>
			<package name="fr.certu.chouette.dao.init">
			</package>
		</packages>
	</test>
	<test name="HibernateDao" preserve-order="true">
		<packages>
			<package name="fr.certu.chouette.dao.hibernate">
			</package>
		</packages>
		 <!-- <groups>
			<run>
				<include name="hql" />
			</run>
		</groups>
		<classes>
			<class name="fr.certu.chouette.dao.hibernate.LineDaoTemplateTests" />
			<class name="fr.certu.chouette.dao.hibernate.StopAreaDaoTemplateTests" />
			<class name="fr.certu.chouette.dao.hibernate.FilterToHQLTests" />
			
		</classes>  -->
	</test>
</suite>