<?xml version="1.0" encoding="UTF-8"?>
<!-- see: https://gist.github.com/bjornharrtell/3054462 -->
<module xmlns="urn:jboss:module:1.0" name="org.postgres">
<resources>
<resource-root path="postgresql-${postgresql.version}.jar"/>
<resource-root path="postgis-jdbc-${postgis.version}.jar"/>
</resources>
<dependencies>
<module name="javax.api"/>
<module name="javax.transaction.api"/>
</dependencies>
</module>
