<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="1" >
    <test name="Metadata" preserve-order="true">       
        <packages>
            <package name="fr.certu.chouette.export.metadata" ></package>            
        </packages>
    </test>
  
  
</suite>
