<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="exchangeNeptune" verbose="5">
   
   
<test name="ExportNeptune">
       <packages>
         <package name="mobi.chouette.exchange.neptune.exporter" >
         </package>
       </packages>
</test>

   <test name="ImportNeptune">
       <packages>
         <package name="mobi.chouette.exchange.neptune.importer" >
         </package>
       </packages>
   </test>
   
   <test name="ValidationNeptune">
       <packages>
         <package name="mobi.chouette.exchange.neptune.validation" >
         </package>
       </packages>
    </test>
   
	 <test name="NeptuneExtensions">
	    <packages>
	      <package name="mobi.chouette.exchange.neptune.extension" >
	      </package>
	    </packages>
	</test>
	<test name="ExportProducers">
	    <packages>
	      <package name="mobi.chouette.exchange.neptune.exporter.producer" >
	      </package>
	    </packages>
	</test>  
   
</suite>