<?xml version="1.0" encoding="UTF-8"?>
<beans 	
  xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
  http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
  http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location" value="classpath:/spring.properties"/>
  </bean>

  <bean id="lecteurFichierXML" class="fr.certu.chouette.service.xml.LecteurFichierXML">
  </bean>
  <bean id="lecteurEchangeXML" class="fr.certu.chouette.service.xml.LecteurEchangeXML">
  </bean>
  <bean id="version" scope="prototype" class="fr.certu.chouette.shell.Version">
    <property name="version" value="${applie.version}"/>
  </bean>
  <bean id="gtfsFileWriter" class="fr.certu.chouette.service.export.gtfs.GTFSFileWriter">
  </bean>

</beans>
