<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="1" >
  <test name="Import"  preserve-order="true">
    <packages>
      <package name="fr.certu.chouette.command.importTest" >
      </package>
   </packages>
  </test>
  <test name="Export"  preserve-order="true">
    <packages>
      <package name="fr.certu.chouette.command.exportTest" >
      </package>
   </packages>
</test>
</suite>