<?xml version="1.0" encoding="UTF-8"?>
<!-- 
This mapping involves :
    ResourceFrame
	* organisations

	ServiceFrame
	* Network
	* directions
	* routePoints
	* routeLinks
	* routes
	* lines
	* scheduledStopPoints
	* servicePatterns
	* tariffZones
	* stopAssignments

	SiteFrame
	* stopPlaces

	ServiceCalendarFrame
	* dayTypes
	* dayTypeAssignments

	TimetableFrame
	* vehicleJourneys

This higly commented XML file is 2111 lines long and 87 Ko, where the uncommented original NEPTUNE file is 1165 lines and 42 Ko.
When compressed the NeTEx file is 8 Ko and NEPTUNE 4 Ko
So the NeTEx File will probably be something like 50% bigger with the same level of comment.

-->
<PublicationDelivery version="1.0" xmlns="http://www.netex.org.uk/netex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="http://www.netex.org.uk/netex ../../../xsd/NeTEx_publication.xsd" xmlns:acsb="http://www.ifopt.org.uk/acsb" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:siri="http://www.siri.org.uk/siri"  >
  <PublicationTimestamp>$date.get($dateFormat)</PublicationTimestamp>
  <ParticipantRef>SYS001</ParticipantRef>
  <!--- ======WHAT WAS REQUESTED ========== -->
  <PublicationRequest version="1.0">
    <RequestTimestamp>$date.get($dateFormat)</RequestTimestamp>
    <ParticipantRef>0</ParticipantRef>
  </PublicationRequest>
  <Description>Line export in Netex Format by Chouette systeme</Description>
  <!--   -->
  <!--- =============== RESULTS =========== -->
  <dataObjects>
    <!-- =========================================== -->       
    <CompositeFrame version="1" created="$date.format($dateFormat, $network.versionDate)" id="${line.objectIdPrefix()}:Neptune:CompositeFrame:${line.objectIdSuffix()}">
      <Name>NEPTUNE Mapping Frame</Name>
      <!-- NEPTUNE [mapping:fixed] : This is a NEPTUNE to NeTEx mapping frame -->
      <TypeOfFrameRef version="01" ref="Neptune:TypeOfFrame:CompositeFrame"/>
      <codespaces>
        <Codespace id="${line.objectIdPrefix()}">
          <Xmlns>${line.objectIdPrefix()}</Xmlns>
        </Codespace>
      </codespaces>
      <FrameDefaults>
        <DefaultCodespaceRef ref="${line.objectIdPrefix()}"/>
        <!-- NEPTUNE [mapping:fixed] : NEPTUNE is in French ! -->
        <DefaultLocale>
          <TimeZoneOffset>-1</TimeZoneOffset>
          <SummerTimeZoneOffset>-2</SummerTimeZoneOffset>
          <DefaultLanguage>fr</DefaultLanguage>
        </DefaultLocale>
        <!-- NEPTUNE [mapping:fixed] : EPSG:4326 is WGS84 which is the only mandatory location system for NEPTUNE -->
        <DefaultLocationSystem>EPSG:4326</DefaultLocationSystem>
      </FrameDefaults>
      <frames>
        #parse( "templates/resource_frame.vm" )
        #parse( "templates/service_frame.vm" )
        #parse( "templates/site_frame.vm" )
        #parse( "templates/service_calendar_frame.vm" )
        #parse( "templates/time_table_frame.vm" )
      </frames>
    </CompositeFrame>
  </dataObjects>
</PublicationDelivery>
