        <!-- =========================================== -->
        <!-- Resourceframe to map the Company NEPTUNE Object -->
        <ResourceFrame version="any" id="Neptune:ResourceFrame:FrameProfile01">
          <Name>${line.objectIdPrefix()}--Neptune-Line Profile </Name>
          <codespaces>
            <Codespace id="Neptune">
              <Xmlns>Neptune</Xmlns>
              <XmlnsUrl>http://www.Neptune.fr/Neptune</XmlnsUrl>
              <Description>Neptune data </Description>
            </Codespace>
          </codespaces>
          <FrameDefaults>
            <DefaultCodespaceRef ref="Neptune"/>
          </FrameDefaults>
          #if ( $network.sourceIdentifier || $network.sourceName || $network.sourceType )
          <dataSources>
              <DataSource#if ( $network.sourceIdentifier ) id="$!esc.xml($network.sourceIdentifier)" version="1" #end>
                #if ( $network.sourceName )
                <Name>$!esc.xml($network.sourceName)</Name>
                #end
                #if ( $network.sourceType )
                <Description>$!esc.xml($network.sourceType)</Description>
                #end
              </DataSource>
          </dataSources>
          #end
          <typesOfValue>
            <TypeOfValidity version="01" id="Neptune:TypeOfValidity:WeeklyPlanned">
              <Name>Weekly export of Neptune  Planned data</Name>
              <Periodicity>P7D</Periodicity>
              <Nature>planned</Nature>
            </TypeOfValidity>
            <TypeOfFrame version="01" id="Neptune:TypeOfFrame:CompositeFrame">
              <Name>Neptune Profile:  Composite Frame </Name>
              <Description>${line.objectIdPrefix()}--Neptune-Line-xxxxxx  frames will be composite frame containing Service, Timetable (and Service Calendar) and Resource frames with all the usual NEPTUNE attributes filled in, for a given line xxxxx.</Description>
              <TypeOfValidityRef version="01" ref="Neptune:TypeOfValidity:WeeklyPlanned"/>
              <FrameClassRef nameOfClass="CompositeFrame"/>
              <classes>
                <ClassInContextRef nameOfClass="AvailabilityCondition" classRefType="memberReferences"/>
              </classes>
              <typesOfFrame>
                <TypeOfFrame version="01" id="Neptune:TypeOfFrame:TimeTableFrame">
                  <Name>Neptune Profile:ServiceCalendar  Frame </Name>
                  <FrameClassRef nameOfClass="TimeTableFrame"/>
                  <classes>
                    <ClassInContextRef classRefType="members" nameOfClass="TimeTableFrame"/>
                    <ClassInContextRef classRefType="members" nameOfClass="ServiceJourney"/>
                    <ClassInContextRef classRefType="members" nameOfClass="JourneyPart"/>
                    <ClassInContextRef classRefType="members" nameOfClass="JourneyPart"/>
                  </classes>
                </TypeOfFrame>
                <TypeOfFrame version="01" id="Neptune:TypeOfFrame:ServiceFrame">
                  <Name>Neptune Profile:  Service  Frame </Name>
                  <FrameClassRef nameOfClass="ServiceFrame"/>
                  <classes>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="ScheduledStopPoint"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="ServicePattern"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="Network"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="RoutePoint"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="RouteLink"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="Line"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="Route"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="Direction"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="TariffZone"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="PassengerStopAssignment"/>
                  </classes>
                </TypeOfFrame>
                <TypeOfFrame version="01" id="Neptune:TypeOfFrame:SiteFrame">
                  <Name>Neptune Profile:  Site  Frame </Name>
                  <FrameClassRef nameOfClass="SiteFrame"/>
                  <classes>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="StopPlace"/>
                  </classes>
                </TypeOfFrame>
                <TypeOfFrame version="01" id="Neptune:TypeOfFrame:ServiceCalendarFrame">
                  <Name>Neptune Profile:ServceCalendar  Frame </Name>
                  <FrameClassRef nameOfClass="ServiceCalendarFrame"/>
                  <classes>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="ServiceCalendar"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="DayType"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="DayTypeAssignment"/>
                  </classes>
                </TypeOfFrame>
                <TypeOfFrame version="01" id="Neptune:TypeOfFrame:ResourceFrame">
                  <Name>Neptune Profile:  Resource Frame </Name>
                  <FrameClassRef nameOfClass="ResourceFrame"/>
                  <classes>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="TypeOfFrame"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="Operator"/>
                    <ClassInContextRef classRefType="memberReferences" nameOfClass="Authority"/>
                  </classes>
                </TypeOfFrame>
              </typesOfFrame>
            </TypeOfFrame>
          </typesOfValue>
          <organisations> <!-- TODO : Prendre en compte plusieurs companies -->
            <Operator version="$company.objectVersion" id="${company.objectIdPrefix()}:Company:${company.objectIdSuffix()}">
              #if ( $company.code )
              <PublicCode>$!esc.xml($company.code)</PublicCode>
              #end
              #if ( $company.registrationNumber )
              <CompanyNumber>$!esc.xml($company.registrationNumber)</CompanyNumber>
              #end
              #if ( $company.name )
              <Name>$!esc.xml($company.name)</Name>
              #end
              #if ( $company.shortName )
              <ShortName>$!esc.xml($company.shortName)</ShortName>
              #end
              #if ( $company.email || $company.phone || $company.fax )
              <ContactDetails>
                  #if ( $company.email )
                  <Email>$!esc.xml($company.email)</Email>
                  #end
                  #if ( $company.phone )
                  <Phone>$!esc.xml($company.phone)</Phone>
                  #end
                  #if ( $company.fax )
                  <Fax>$!esc.xml($company.fax)</Fax>
                  #end
              </ContactDetails>
              #end
              #if ( $company.organisationalUnit )
              <parts>
                  <OrganisationPart version="$company.objectVersion" id="${company.objectIdPrefix()}:OrganisationPart:${company.objectIdSuffix()}">
                      <Name>$!esc.xml($company.organisationalUnit)</Name>
                  </OrganisationPart>
              </parts>
              #end
              #if ( $company.operatingDepartmentName )
              <departments>
                  <Department id="${company.objectIdPrefix()}:Department:${company.objectIdSuffix()}" version="1">
                      <Name>$!esc.xml($company.operatingDepartmentName)</Name>
                  </Department>
              </departments>
              #end
            </Operator>
          </organisations>
        </ResourceFrame>				
