<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="5" >
  <test name="ExportGTFS" >
  <parameter name="gtfsZip"  value="lignes_gtfs.zip"/>
    <packages>
      <package name="fr.certu.chouette.exchange.csv.gtfs" >
      </package>
   </packages>
  </test>
  
</suite>
