<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Factory" verbose="5" >
  <test name="ExportGTFS" >
  <parameter name="gtfsZip"  value="gtfs_feed.zip"/>
    <packages>
      <package name="fr.certu.chouette.exchange.gtfs.export" >
      </package>
   </packages>
</test>
 <test name="ExportGTFSProducers" >
    <packages>
      <package name="fr.certu.chouette.exchange.gtfs.export.producer" >
      </package>
   </packages>
  </test>
  <test name="ImportGTFS" >
    <packages>
      <package name="fr.certu.chouette.exchange.gtfs.importer" >
      </package>
   </packages>
  </test>
</suite>
